html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
  .sidebar-items {
    margin-bottom: 0 !important;
  }
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-right: 1em;
}

.sidebar-items:hover svg {
  color: #b57295;
}

.sidebar-items:hover p {
  color: #fff;
}

.active {
  color: #fff;
}

.active-icon {
  color: #b57295 !important;
}

.box-table-inside {
  position: static;
  width: max-content;

  /* white */

  background: #ffffff;
  /* gray/200 */

  border: 1px solid #e2e8f0;
  box-sizing: border-box;
  /* base */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
ul.pagination li a.active {
  background-color: #4caf50;
  color: white;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  min-height: 100px;
  text-align: center;
}

.player-wrapper {
  position: relative;
  padding-top: 15.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
